/.classpath
/.project
/build
*~
.idea
*.iml
*.zip
amber-*.zip
/l10n/*_new.properties
/bin
/.settings
/doc/javadoc
/scripts/mussel*
/scripts/test*
/scripts/wayp*
/scripts2/mussel*
/scripts2/test*
/scripts2/wayp*
scripts2/
